.board,
.img {
  border-radius: 25px;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  gap: 25px;
  flex-wrap: wrap;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  padding: 25px;
  margin-top: 100px;
  background-color: rgb(83, 191, 83);
}

.board > .img {
  background-color: rgb(70, 178, 70)
}

.img {
  text-align: center;
  transition: 0.3s;
}

.img > p {
  font-size: 1.1rem;
  font-weight: 700;
}

.img:hover {
  background-color: rgb(50, 100, 50);
  color: #dddddd;
}
